@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(to right, #0f0c0c, rgb(33, 33, 167));
}

@font-face {
  font-family: "Mars";
  src: url("./assets/Mars.ttf");
}
.music-cards::-webkit-scrollbar {
  width: 10px;
}

.music-cards::-webkit-scrollbar-thumb {
  background-color: #010177ad;
  border-radius: 20px;
}

.home-page::-webkit-scrollbar {
  width: 10px;
}

.home-page::-webkit-scrollbar-thumb {
  background-color: #010177ad;
  border-radius: 20px;
}
